.text{
    color: salmon;
}

button{
    border: none;
    background-color: white;
    color: black;
    padding-top: 10px;
    border-radius: 30px;
    padding-bottom: 10px;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;

}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}

button:active{
    opacity: 0.5;
}

body{
    background-color: rgb(15, 15, 15);
}